body {
  margin: 0;
  padding: 0;
  font-family: "Saira Semi Condensed", Arial, Helvetica, sans-serif;
  background-color: #201b2c;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

header {
  height: 5em;
  background: linear-gradient(225deg, hsl(275, 52%, 37%) 40%, #291972 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0em;
}

#header-nome {
  padding-left: 4.375em;
  font-size: 2.1875em;
}

.header-itens {
  font-size: 2.1875em;
  padding-right: 4.375em;
  word-spacing: 35px;
}

@media (hover: hover) {
  .hd:hover {
    text-decoration: underline;
  }
}

#first-section {
  margin-top: 6.25em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-pessoal {
  margin-left: 2.5em;
}

h1 {
  font-size: 4.375em;
  padding: 0;
  margin-bottom: 0;
  margin-bottom: 15px;
}

#span-nome {
  color: rgba(77, 54, 208, 1);
}

h4 {
  font-size: 2.1875em;
  line-height: 0px;
  margin-bottom: 70px;
}

.button-inicio {
  display: flex;
  align-items: center;
  font-size: 1.0625em;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: linear-gradient(225deg, #682e91 40%, #291972 100%);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.button-inicio svg {
  margin-right: 0.5em;
}

@media (hover: hover) {
  .button-inicio:hover {
    cursor: pointer;
    border-radius: 20em;
    box-shadow: 0 0 0.3125em 0.3125em rgb(86, 46, 128);
    transition: 0.2s;
  }
}

.image-cartoon {
  width: 41.625em;
}

#sobre-mim {
  padding: 9.375em;
  display: flex;
  justify-content: space-around;
}

.texto-sobre-mim {
  max-width: 32em;
  text-align: justify;
  font-size: 1.5625em;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
}

.foto {
  width: 22.875em;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0px 10px 25px #00000056;
  margin-top: 60px;
}

#habilidades {
  flex-direction: column;
  padding: 8.375em;
  display: flex;
  justify-content: space-around;
  margin-bottom: 400px;
}

#habilidades > h2 {
  text-align: center;
}

.logo-habilidades {
  height: 43.75em;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  border-radius: 20px;
  background-color: #2f2841;
  box-shadow: 0px 8px 20px #00000056;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12em;
  width: 12em;
  font-size: 25px;
}

@media (hover: hover) {
  .logo:hover {
    box-shadow: 0 0 0.313em 0.313em rgb(86, 46, 128);
    transition: 0.2s;
  }
}

.image-150 {
  width: 6em;
  padding-bottom: 10px;
  margin-top: 30px;
}

.image-130 {
  width: 5.2em;
  padding-bottom: 10px;
  margin-top: 30px;
}

.image-120 {
  width: 5.9em;
  padding-bottom: 10px;
  margin-top: 30px;
}

.image-110 {
  width: 4.4em;
  padding-bottom: 10px;
  margin-top: 30px;
}

#projetos {
  text-align: center;
  display: flex;
  height: 1400px;
  padding: 80px;
  justify-content: space-around;
  margin-bottom: 150px;
  flex-wrap: wrap;
}

.projeto {
  background-color: #2f2841;
  width: 750px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  margin-bottom: 150px;
}

.titulo-projetos {
  font-size: 30px;
  font-family: "Saira Semi Condensed", Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  padding-top: 20px;
}

.texto-projetos {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  font-size: 18px;
}

#fundo1 {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  height: 60%;
  background-image: url(./images/fundo-projeto1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#fundo2 {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  height: 60%;
  background-image: url(./images/fundo-projeto2.png);
  background-size: cover;
}

#fundo3 {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  height: 60%;
  background-image: url(./images/fundo-projeto3.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#fundo4 {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  height: 60%;
  background-image: url(./images/17-1.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.texto-fundo {
  text-align: center;
}

.button-projeto {
  display: flex;
  justify-content: space-evenly;
}

footer {
  margin-bottom: 5.438em;
}

.footer-contato {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6.688em;
}

.footer-email {
  border-radius: 20px;
  background-color: #2f2841;
  box-shadow: 0px 8px 20px #00000056;
  margin: 20px; 
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

.footer-linkedin,
.footer-telefone {
  width: 270px;
  height: 275px;
  border-radius: 20px;
  background-color: #2f2841;
  box-shadow: 0px 8px 20px #00000056;
  margin: 20px;
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

.footer-github {
  width: 270px;
  height: 275px;
  border-radius: 20px;
  background-color: #2f2841;
  box-shadow: 0px 8px 20px #00000056;
  margin: 20px;
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

@media (hover: hover) {
  .footer-github:hover,
  .footer-linkedin:hover,
  .footer-telefone:hover,
  .footer-email:hover {
    box-shadow: 0 0 5px 5px rgb(86, 46, 128);
    background-color: #2f2841;
    transition: 0.2s;
  }
}

.footer-text {
  font-size: 25px;
}

.footer-image {
  margin-top: 20px;
  width: 90px;
  border-radius: 20px;
}

#footer-contato {
  text-align: center;
}

@media (max-width: 1659px) {
  footer {
    margin-top: 1600px;
  }
}

@media (max-width: 1296px) {
  #header-nome {
    padding-left: 1em;
  }

  .header-itens {
    padding-right: 2.3em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .image-cartoon {
    width: 400px;
    padding-top: 90px;
  }

  #header-nome {
    display: none;
    padding: 0;
    margin: 0;
  }

  .header-itens {
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  header {
    height: 50px;
  }

  #first-section {
    margin: 15px;
  }

  .text-pessoal {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #first-section {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 50px;
    text-align: center;
  }

  h4 {
    font-size: 20px;
  }

  #sobre-mim {
    padding: 100px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .foto {
    width: 100%;
  }

  h2 {
    text-align: center;
    font-size: 35px;
  }

  p {
    font-size: 16px;
  }

  #habilidades {
    padding: 0;
  }

  .logo {
    position: relative;
    width: 18rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-habilidades {
    height: 43.75em;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .image-150 {
    width: 5em;
  }

  .image-130 {
    width: 4.2em;
  }

  .image-120 {
    width: 5em;
  }

  .image-110 {
    width: 4.1em;
  }

  #habilidades {
    margin-bottom: 1100px;
  }

  #title-projeto {
    margin-top: 850px;
  }

  .footer-contato {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .footer-email,
  .footer-linkedin,
  .footer-telefone,
  .footer-github {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .footer-email {
    width: 265px;
    height: 275px;
    
  }

  footer {
    margin-top: 1600px;
  }
}

@media (max-width: 450px) {

  #header-nome {
    display: none;
    padding: 0;
    margin: 0;
  }

  .header-itens {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  header {
    height: 50px;
  }

  #first-section {
    margin: 15px;
  }

  .image-cartoon {
    display: none;
  }

  .text-pessoal {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }

  h1 {
    font-size: 45px;
    text-align: center;
  }

  h4 {
    font-size: 20px;
  }

  #sobre-mim {
    padding: 35px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .foto {
    width: 300px;
  }

  h2 {
    text-align: center;
    font-size: 45px;
  }

  p {
    font-size: 16px;
  }

  #habilidades > h2 {
    margin-bottom: 0;
    font-size: 45px;
  }

  #habilidades {
    padding: 0;
    padding-bottom: 2200px;
  }

  .logo {
    position: relative;
    width: 12rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-150 {
    width: 5em;
  }

  .image-130 {
    width: 4.2em;
  }

  .image-120 {
    width: 5em;
  }

  .image-110 {
    width: 4.1em;
  }

  #habilidades {
    margin-bottom: 700px;
  }

  .texto-fundo {
    width: 350px;
  }

  .projeto {
    height: 800px;
  }

  #title-projeto {
    margin-top: 850px;
  }

  #fundo1 {
    background-image: url(./images/fundo-celular-projeto1.png);
    background-size: cover;
  }

  #fundo2 {
    background-image: url(./images/fundo-celular-projeto2.png);
    background-size: cover;
  }

  footer {
    margin-top: 2400px;
  }

  .footer-contato {
    display: flex;
    flex-direction: column;
  }

  .footer-email,
  .footer-linkedin,
  .footer-telefone {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .footer-telefone {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .footer-linkedin {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .footer-email {
    margin-bottom: 35px;
    padding: 50px;
  }

  .footer-github{
    padding: 0px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 375px) {
  #title-projeto {
    margin-top: 2500px;
  }
}
